mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    background-color: #ffffff00
    /* border: solid black 1px; */
}

mat-card-content > p {
    padding: 5px 0px;
    background-color: #ffffff00;
    /* border: solid black 1px; */
}

mat-card-content > h3 {
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 0px;
    background-color: #ffffff00;
    /* border: solid black 1px; */
}
mat-card {
    padding: 2.5%;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    /* border: solid black 1px; */
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
    transition: all ease 0.5s;
}

mat-card:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.40);
}

.form-control {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgba(231,231,231,0.61);
    font-family: 'Montserrat';
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 100,
      'GRAD' 50,
      'opsz' 48;
    font-size: 70px;
    color: rgba(3,3,3,0.72);
}

.add {
    display: flex;
    justify-content: center;
}

div {
    margin-bottom: 20px;
    // border: solid 1px #000000;
    width: 100%;
    max-width: 700px;
    padding: 15px 15px;
    text-align: center;
}

div.center {
    margin: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: medium;
    color: #030303;
    margin: 0;
}

div.content {
    padding: 14px;
}

p, h3 {
    color:#030303
}

input {
    border: none;
    outline: none;
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: lighter;
    color: #030303;
    padding: 5px 0px;
    border-bottom: solid 1px #030303;
    width: 100%;
}