<app-header [previousPage]="previousPage"></app-header>

<div>
  <h2>{{ this.vehicle.model_make }} - Edit vehicle</h2><br>
  <form [formGroup]="updateVehicleForm" (ngSubmit)="submitVehicleUpdate()">  
    <div class="form">
      <input type="text" id="model_make" name="model_make" formControlName="model_make">
    </div>
    <div class="form">
      <input type="text" id="nickname" name="nickname" formControlName="nickname">
    </div>
    <div class="form">
      <select name="type" id="type" formControlName="type">
        <option *ngFor="let vehicle_type of types_of_vehicles" [value]="vehicle_type">{{vehicle_type}}</option>
      </select>
    </div>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div><br>
    <div class="submit">
      <button class="button save" type="submit">Save</button>
      <button class="button" routerLink="/show-vehicle/{{ vehicle.vehicle_id }}">Cancel</button>
    </div>
    <div>
      <button class="button delete" type=button (click)="deleteVehicle()">Delete</button>
    </div>
  </form>
</div>
<div></div>
