div {
    /* border: solid 1px #000000; */
    width: 95.5%;
    max-width: 700px;
    padding: 15px 15px;
    text-align: center;
    margin: auto;
    color: #030303
}

h2 {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: medium;
    color: #030303;
    margin: 0;
}

mat-card {
    padding: 2.5%;
    background-color: #ffffff;
    /* text-align: center; */
    /* border: solid black 1px; */
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
    transition: all ease 0.5s;
    border-radius: 5px;
}

.usage > mat-card-content {
    padding: 0px;
}

.card-content {
    // display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-column {
    flex: 1;
    // margin-right: 10px;
    background-color: #ffffff00;
    height: 80px;
    padding: 0px 0px 15px 15px;
    
}

.secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 15px 15px;
}

.stat {
    font-size: 45px;
}

.stat-main {
    font-size: 70px;
}

.button {
    background: #030303;
    border-radius: 5px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 24px;
    text-decoration: none;
    outline: 0;
}

.head {
    display: flex;
    justify-content: space-between;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.usage {
    padding: 0px;
}

.usage:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.40);
}

.note {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.note:hover {
    overflow: visible;
  }

p {
    color: #030303 
}