<app-header [previousPage]="previousPage"></app-header>

<div>
  <div>
    <h2>New usage</h2>
  </div>
  <form [formGroup]="usageForm" (ngSubmit)="submitUsage()">
    <div class="form">
      <select name="vehicle_id" id="vehicle_id" formControlName="vehicle_id">
          <option value="" disabled selected>- Please choose -</option>
          <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicle_id">{{vehicle.model_make}}</option>
      </select>
    </div>
    <div class="form">
      <input type="number" id="duration" name="duration" placeholder="Duration" formControlName="duration">
    </div>
    <div class="form">
      <input type="date" id="date" name="date" formControlName="date">
    </div>
    <div class="form">
      <input type="number" id="fuel_amount" name="fuel_amount" placeholder="Fuel costs" formControlName="fuel_amount">
    </div>
    <div class="form">
      <input type="number" id="maintenance_cost" name="maintenance_cost" placeholder="Maintenance costs" formControlName="maintenance_cost">
    </div>
    <div class="form">
      <input type="text" id="note" name="note" placeholder="Add a short note!" formControlName="note" contenteditable>
    </div>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div><br>
    <div class="submit">
      <button class="button save" type="submit">Save</button>
      <button class="button" routerLink="/home">Cancel</button>
    </div>  
  </form>
</div>
<div></div>

