.button {
    background: #030303;
    border-radius: 5px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 24px;
    text-decoration: none;
    outline: 0;
}

.title {
    font-family: 'Montserrat';
    font-size: 37px;
    font-weight: Bold;
    color: #030303;
    margin: 0;
    letter-spacing: 3px;
    padding-bottom: 15px;
}

div {
    margin-bottom: 20px;
    /* border: solid 1px #000000; */
    margin: auto;
    width: 75%;
    max-width: 700px;
    padding: 15px 15px;
    text-align: center;
}

p {
    margin: 12px;
    font-size: 18px;
    color: #030303;
}
