<app-header [previousPage]="previousPage"></app-header>

<div>
  <h2>New vehicle</h2><br>
  <form [formGroup]="vehicleForm" (ngSubmit)="submitVehicle()">  
    <div class="form">
      <input type="text" id="model_make" name="model_make" placeholder="Enter a make and model" formControlName="model_make">
    </div>
    <div class="form">
      <input type="text" id="nickname" name="nickname" placeholder="Enter a nickname" formControlName="nickname">
    </div>
    <div class="form">
      <select name="type" id="type" formControlName="type">
          <option value="" disabled selected>- Please choose -</option>
          <option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle}}</option>
      </select>
    </div>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div><br>
    <div class="submit">
      <button class="button save" type="submit">Save</button>
      <button class="button" routerLink="/vehicle-list">Cancel</button>
    </div>
  </form>
</div>
<div></div>